@model Fruitcorp.Models.Pages.StartPage

@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div>

    <div class="row">
        <div class="col-md-12">
            <h1>@Html.PropertyFor(x => x.PageName)</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="text-wrapper col-md-10">
            <p>@Html.PropertyFor(x => x.Intro)</p>
        </div>
        <div class="col-md-1"></div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4 Border-Right">
            <div class="Block-Content">@Html.PropertyFor(x => x.ProductOne)</div>
        </div>

        <div class="col-md-4 Border-Right">
            <div class="Block-Content">@Html.PropertyFor(x => x.ProductTwo)</div>
        </div>

        <div class="col-md-4">
            <div class="Block-Content">@Html.PropertyFor(x => x.ProductThree)</div>
        </div>
    </div>
</div>



