@model Fruitcorp.Models.Blocks.ProductBlock


    <h2 @Html.EditAttributes(x => x.Header)>@Model.Header </h2>
    <p @Html.EditAttributes(x => x.Text)>@Model.Text</p>
    <span @Html.EditAttributes(x => x.Image)>
        <a title="@Model.Header" href="@Url.ContentUrl(Model.Link)">
            <img src="@Url.ContentUrl(Model.Image)" alt="@Model.Header" />
        </a>
    </span>

